<li>
	{{name}}
{{!-- <button class="change-burger" data-id="{{id}}" data-newburger="{{burger}}">
		{{#if devour}}Un-eat!!{{else}}Devour it!!{{/if}}
	</button> --}}

	<button class="delete-burger" data-id="{{this.id}}">Devour It!</button>
</li>
